<div>
	<h2>Local News</h2>
	<button type="button" class="btn btn-default" ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Alappuzha&output=rss');" >Alappuzha</button>
	<button type="button" class="btn btn-default"  ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Ernakulam&output=rss');">Ernakulam</button>
	<button type="button" class="btn btn-default"  ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Idukki&output=rss')">Idukki</button>
	<button type="button" class="btn btn-default"  ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Kannur')">Kannur</button>
	<button type="button" class="btn btn-default"  ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Kasaragod')">Kasaragod</button>
	<button type="button" class="btn btn-default"  ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Kollam')">Kollam</button>
	<button type="button" class="btn btn-default"  ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Kottayam')">Kottayam</button>
	<button type="button" class="btn btn-default"  ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Kozhikode')">Kozhikode</button>
	<button type="button" class="btn btn-default"  ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Malappuram')">Malappuram</button>
	<button type="button" class="btn btn-default"  ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Palakkad')">Palakkad</button>
	<button type="button" class="btn btn-default"  ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Pathanamthitta')">Pathanamthitta</button>
	<button type="button" class="btn btn-default"  ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Thrissur')">Thrissur</button>
	<button type="button" class="btn btn-default"  ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Thiruvananthapuram')">Thiruvananthapuram</button>
	<button type="button" class="btn btn-default"  ng-click="setFeedUrl('https://news.google.com/news/feeds?pz=1&cf=all&ned=in&hl=en&geo=Wayanad')">Wayanad</button>
	<br><br>


	<h1 class="text-center" ng-hide="url" style="height:300px"><small>Select an edition</small></h4>
	<ul ng-repeat="nn in news">
		<blockquote>
			<p ng-bind-html="nn.content |  unsafe"></p>
			<footer class="text-right">[{{nn.publishedDate}}]<br></footer>
		</blockquote>
		<hr>
	</ul> 
</div>



