<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="#"><img src="img/logo/logo.png" width="50px">Ende Keralam <small class="hidden-xs hidden-sm"><i> - Your guide to attractions, events, restaurants, nightlife, films, shopping and music in Kerala</i></small></a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="index">Home</a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Media <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">News</a></li>
            <li><a ui-sref="localnews">Local News</a></li>
            <li><a ui-sref="newspapers">News papers</a></li>
            <li><a href="#">Calendar</a></li>
            
            <li class="divider"></li>
            <li><a href="#">Books</a></li>
          </ul>
        </li>        


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Entertainment <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Radio Channels</a></li>
            <li><a href="#">TV Channels</a></li>
            <li class="divider"></li>
            
            <li><a href="#">Movies</a></li>
            <li><a href="#">Songs</a></li>
          </ul>
        </li>        

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Explore <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">101 things to do</a></li>
            <li><a href="#">Adventure-wildlife</a></li>
            <li><a href="#">Tourist-attractions</a></li>
            <li><a href="#">Waterfalls</a></li>
            <li><a href="#">Backwaters</a></li>
            <li><a href="#">Beaches</a></li>
            <li><a href="#">Islands</a></li>
            <li><a href="#">Lakes</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Culture</li>
            <li><a href="#">Art</a></li>
            <li><a href="#">Cuisine</a></li>
            <li><a href="#">Fairs-festivals</a></li>
            <li><a href="#">Historical</a></li>
            <li><a href="#">Spiritual</a></li>
          </ul>
        </li>        

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Travel <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Airports</a></li>
            <li><a href="#">Cities</a></li>
            <li><a href="#">Districts</a></li>
            <li><a href="#">Hotels</a></li>
            <li><a href="#">Tour operators</a></li>
          </ul>
        </li>        

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Health <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Ayurveda</a></li>
            <li><a href="#">Treatments</a></li>
          </ul>
        </li>        

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Education <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Engineering colleges</a></li>
            <li><a href="#">Medical colleges</a></li>
            <li><a href="#">Universities</a></li>
          </ul>
        </li>        

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Tradition <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Panchangam</a></li>
            <li><a ui-sref="taste">Taste</a></li>
          </ul>
        </li>        
        <li><a ui-sref="about">About</a></li>
      </ul>
    </div>
  </div>
</div>



<br><br>
<br><br>
