<div ng-controller="Listing" ng-init="init();">
	<h3 class="blue">{{module.Title}}</h3>
	<hr>
	<div style="border:1px">
		<div ng-repeat="cols in list | partition:2">
			<div class="col-xs-12 col-sm-6 col-md-6 ">
				<div  ng-repeat="row in cols">					
					<div class="row thumbnail">
						<img class="img-rounded img-responsive fullwidth"  alt="{{row.Thumbnail_Image_Alt}}" src="{{row.Thumbnail_Image}}" />
						<div class="caption">
							<h4>
								{{row.Title}}
							</h4>
							<p>
								{{row.Brief_Description}}
							</p>
							<p ng-repeat="action in row.Actions">
								<a  class="btn btn-primary" href="{{action.Url}}">{{action.Title}}</a> 
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</div>