<div ng-controller="LayoutCtrl" data-ng-init="initlayout();">
	<div class="row clearfix">
		<div class="col-md-12 column" ng-repeat="module in metadata.topscrollmodules">
			<!-- Top Scroll -->
			<div ng-include="'modules/'+module.type+'/index.html'"></div>
		</div>
	</div>

	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="row clearfix">
				<div class="col-md-3 column" >
					<!-- Left Pane  -->
					<div  ng-repeat="module in metadata.leftpanemodules" ng-include="'modules/'+module.type+'/index.html'"></div>
				</div>
				<div class="col-md-6 column">
					<div class="row clearfix">
						<div class="col-md-12 column" > 
							<!-- Content Pane -->
							<div ng-repeat="module in metadata.contentpanemodules" ng-include="'modules/'+module.type+'/index.html'"></div>
						</div>
					</div>
				</div>
				<div class="col-md-3 column" >
					<!-- Right Pane  -->
					<div  ng-repeat="module in metadata.rightpanemodules" ng-include="'modules/'+module.type+'/index.html'"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-12 column" >
			<!-- Bottom Scroll -->
			<div ng-repeat="module in metadata.bottomscrollmodules" ng-include="'modules/'+module.type+'/index.html'"></div>
		</div>
	</div>
</div>

